## Sanity Studio - PUBLIC
NEXT_PUBLIC_SANITY_STUDIO_PROJECT_ID=
NEXT_PUBLIC_SANITY_STUDIO_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=
NEXT_PUBLIC_SANITY_USE_CDN=
NEXT_PUBLIC_SANITY_VISUAL_EDITING_ENABLED=
NEXT_PUBLIC_SANITY_STUDIO_URL=

## Sanity Studio - PRIVATE
SANITY_API_READ_TOKEN=
# SANITY_API_READ_TOKEN=
SANITY_STUDIO_PREVIEW_URL=


## Resend
RESEND_API_KEY=
RESEND_AUDIENCE_ID=
RESEND_FROM_EMAIL=
PUBLIC_SITE_URL=

## Mews
PUBLIC_MEWS_API_URL=
PUBLIC_MEWS_CLIENT_NAME=
PUBLIC_MEWS_HOTEL_ID=
PUBLIC_MEWS_CONFIGURATION_ID=
PUBLIC_MEWS_LANGUAGE_CODE=
PUBLIC_MEWS_CULTURE_CODE=
PUBLIC_MEWS_CURRENCY_CODE=
