.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

.text-align-left {
  text-align: left;
  align-items: flex-start;
}

.text-align-center {
  margin-inline: auto;
  text-align: center;
  align-items: center;
}

.text-align-right {
  margin-left: auto;
  text-align: right;
  align-items: flex-end;
}

.section__content.text-align-left {
  justify-items: start;
}

.section__content.text-align-center {
  justify-items: center;
}

.section__content.text-align-right {
  justify-items: end;
}

.cta-row.text-align-left {
  justify-content: flex-start;
}

.cta-row.text-align-right {
  justify-content: flex-end;
}
